@font-face {
    font-family: 'outfit';/*not licensed for professional use ($15 fee)*/
    font-weight: normal;
    src: url('/assets/Outfit-Regular.ttf');
}
  
@font-face {
    font-family: 'outfit';/*not licensed for professional use ($15 fee)*/
    font-weight: bold;
    src: url('/assets/Outfit-Bold.ttf');
}
  
*{
    margin: 0;
}

.plx{
    position: absolute !important;
}

.Page{
    font-family: 'outfit';
}

.PageHeader{
    background-color: #5b2d7d;
    font-weight: normal;
    text-align: center;
    padding: 2.5%;
}

.Page .buttonLink{
    background-color: white;
    margin: 0;
}

.Page .buttonText{
    color: #5b2d7d;
}

.Page .buttonLink span{
    color: #5b2d7d;
}

.PageHeader h1{
    font-weight: normal;
    font-size: 8vw;
    color: white;
    margin-top: -3%;
    margin-bottom: 2%;
}

.pageBody{
    padding: 2.5%;
}

.pageBody h1{
    font-weight: bold;
    font-size: 4vw;
    color: #5b2d7d;
    margin-bottom: 1%;
}

.pageBody h2{
    font-weight: normal;
    font-size: 3vw;
    margin-bottom: 0.5%;
}

.pageBody p{
    font-size: 2vw;
    margin-bottom: 2%;
}

@media (max-width: 1000px) {
    .PageHeader h1{
        margin-top: -5%;
        margin-bottom: 2%;
    }

    .pageBody h1{
        font-weight: bold;
        font-size: 8vw;
        color: #5b2d7d;
        margin-bottom: 2%;
    }
    
    .pageBody h2{
        font-weight: normal;
        font-size: 6vw;
        margin-bottom: 1%;
    }
    
    .pageBody p{
        font-size: 4vw;
        margin-bottom: 3%;
    }
}